*{
    margin: 0px;
    padding: 0px;
}
div{
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: lawngreen;
    margin: 100px auto;
    position: relative;
}
img{
    position: absolute;
    left: 110px;
    top: 0px;
    display: none;
}
div:hover img{
    display: block;
}